.slider {
    position: relative;

    &__wrapper {
        flex-direction: column;
        gap: 3.75rem;

        @media #{$mobile-media-query} {
            padding: 6.25rem calc(3.25rem + 20px);
        }
    }

    &__item {
        height: 70vh;
        background-size: cover;
        background-position: center;
    }

    &__content {
        flex-direction: column;
        gap: 1.25rem;
        width: 920px;

        @media (max-width: $lg-width) {
            width: 600px;
        }

        @media (max-width: $md-width) {
            width: 100%;
        }
    }
}

.glide {
    &__bullets {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: 0.5rem;
    }

    &__bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid #fff;
        cursor: pointer;

        &--active {
            background-color: #fff;
        }
    }
}
