.btn {
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.5rem;
    padding: 1.25rem 1.75rem;
    background-color: #f8326d;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(0deg, rgba(248, 50, 109, 1) 0%, rgba(255, 184, 100, 1) 100%);
}
